<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'irish/css/bootstrap2.min.css' %}">
	<link rel="stylesheet" href="{% static 'irish/css/font-awesome.min2.css' %}">
	<link rel="stylesheet" href="{% static 'irish/css/index.css' %}">
	<link rel="stylesheet" href="{% static 'irish/css/w3pro-4.css' %}">
	<script src="{% static 'irish/js/jquery.min.js' %}"></script>
	<script src="{% static 'irish/js/bootstrap2.min.js' %}"></script>
	<title>Irish</title>
</head>
<body>
	<div class="header" style="background-image:url({% static 'irish/images/bg_6.jpg' %});">
		<nav class="navbar navbar-default" style="background:transparent; border:none; color:black;">
		  <div class="container-fluid">
			<div class="navbar-header">
			  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" style="background-color:#000000;">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			  </button>
			  <a class="navbar-brand" href="{%url 'irish:index' %}">I-rish</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">

			  <ul class="nav navbar-nav navbar-right">
				<li><a href="{%url 'irish:index' %}">Home</a></li>
				<li><a href="{%url 'irish:cart' %}"><span class="fa fa-shopping-cart"></span> [{{cart}}]</a></li>
			  	{% if request.user.is_authenticated %}
			  	<li><a href="{%url 'irish:logout' %}">{{request.user}}</a></li>
				<li><a href="{%url 'irish:register' %}"><span class="fa fa-user"></span> Sign Up</a></li>
			  	{% else %}
				<li><a href="{%url 'irish:register' %}"><span class="fa fa-user"></span> Sign Up</a></li>
				<li><a href="{%url 'irish:login' %}"><span class="fa fa-sign-in"></span> Login</a></li>
			  	{% endif %}
			  </ul>
			</div>
		  </div>
		</nav>

		<h1 class="text-center">My Cart</h1>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12" style="margin:30px 0">
				<div class="table-responsive">
					<table class="table table-condensed">
						<thead>
							<tr>
								<th></th>
								<th class="text-center">PRODUCT</th>
								<th class="text-center">QUANTITY</th>
								<th class="text-center">TOTAL</th>
							</tr>
						</thead>
						<tbody>
							{% for product in products %}
							<tr style="margin:10px 0 10px">
								<td><button class="btn c"><span class="fa fa-close"></span></button></td>
								<td class="text-center">
									{{product.prod_name}}
									<p style="display:none">{{product.pk}}</p>
								</td>
								<td>
									<center>
										<button class="btn btn-lg qty quantity-left-minus">-</button>
										<input class="input-lg" type="text" value="{{product.quantity}}">
										<button class="btn btn-lg qty quantity-right-plus">+</button>
									</center>
								</td>
								<td class="text-center total">$<span>{{product.total}}</span></td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-4">
				<div style="border:1px solid black; padding:10px; margin-bottom:10px;">
					<b><p style="font-size:20px; margin-bottom:10px">CART TOTALS</p></b>
					<div class="row">
						<div class="col-xs-6">
							<p>Subtotal</p>
							<p>Discount</p>
							<br>
							<p>Total</p>
						</div>

						<div class="col-xs-6">
							<p>$<span id="subtotal" class="dim">{{subtotal}}</span></p>
							<p>$<span class="dim">-500</span></p>
							<br>
							<p>$<span id="tp"></span></p>
						</div>
					</div>
				</div>
				<a href="{%url 'irish:checkout' %}" class="btn btn-block btn-warning">Proceed to Checkout</a>
			</div>
		</div>
	</div>
	<div class="container-fluid footer">
		<div class="row">
			<div class="col-md-12 text-center">
				<p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | I-rish.
				</p>
			</div>
        </div>
	</div>
</body>
  <script>
  	alert("ko");
  		$(document).ready(function(){
			var k = 0;
			alert(k);
			$(".dim").each(function(){
				k += parseInt($(this).html());
			});
			$("#tp").html(k);

			var quantity=0;

		    $('.quantity-right-plus').click(function(e){

		        // Stop acting like a button
		        e.preventDefault();
		        // Get the field name
		        var quantity = parseInt($(this).prev().val());

		        // If is not undefined

		            $(this).prev().val(quantity + 1);


		            // Increment

		    });

		    $('.quantity-left-minus').click(function(e){
		        // Stop acting like a button
		        e.preventDefault();
		        // Get the field name
		        var quantity = parseInt($(this).next().val());

		        // If is not undefined

		            // Increment
		            if(quantity>1){
						$(this).next().val(quantity - 1);
		            }
		    });

			$(".qty").on("click", function(){
				var quant = $(this).siblings().filter("input").val();
				var total = $(this).parent().parent().next().find("span");
				var serial = $(this).parent().parent().prev().find("p").html();
				$.get("{% url 'irish:ajx' %}", {quant:quant, serial:serial}, function(data){
					total.html(data);
					// update subtotal
					var t=0;
					$(".total span").each(function(){
						t += parseInt($(this).html());
					});
					$("#subtotal").html(t);
					//update grand total
					var g = 0;
					$(".dim").each(function(){
						g += parseInt($(this).html());
					});
					$("#tp").html(g);
				});
			})

			$(".quant").on("blur", function(){
				var quant = $(this).val();
				var total = $(this).parent().parent().next().find("span");
				var serial = $(this).parent().parent().prev().find("p").html();
				$.get("{% url 'irish:ajx' %}", {quant:quant, serial:serial}, function(data){
					total.html(data);
					// update subtotal
					var t=0;
					$(".total span").each(function(){
						t += parseInt($(this).html());
					});
					$("#subtotal").html(t);
					//update grand total
					var g = 0;
					$(".dim").each(function(){
						g += parseInt($(this).html());
					});
					$("#tp").html(g);
				});
			});

			$(".c").on("click", function(){
				var serial = $(this).parent().next().find("p").html();
				$.get("{% url 'irish:ajx' %}", {sn:serial}, function(data){
					location.reload(true);
				});
			});

		});
  </script>

</html>