<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>I-rish</title>
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'irish/css/bootstrap3.min.css' %}">
	<link rel="stylesheet" href="{% static 'irish/css/edit.css' %}">
	<link rel="stylesheet" href="{% static 'irish/css/font-awesome.min.css' %}">
	<script src="{% static 'irish/js/jquery.min.js' %}"></script>
	<script src="{% static 'irish/js/bootstrap2.min.js' %}"></script>
</head>
<body >

<div class="topnav" id="myTopnav">
  <a href="{% url 'irish:index' %}" >Home <span class="glyphicon glyphicon-home"></span></a>
  <a href="{% url 'irish:cart' %}">Cart <span class="glyphicon glyphicon-shopping-cart"></span><sup class="cart">{{cart}}</sup></a>
  {% if request.user.is_authenticated %}
  <a href="{% url 'irish:register' %}">Sign Up <span class="glyphicon glyphicon-ok-sign"></span></a>
  <a href="{% url 'irish:logout' %}">{{request.user.username.title}} <span class="glyphicon glyphicon-user"></span></a>
  {% else %}
  <a href="{% url 'irish:register' %}">Sign Up <span class="glyphicon glyphicon-ok-sign"></span></a>
  <a href="{% url 'irish:login' %}">Login <span class="glyphicon glyphicon-user"></span></a>
  {% endif %}
  
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="glyphicon glyphicon-menu-hamburger"></i>
  </a>
</div>

<div class="background-picture-2">

<div class="back-button-2">
    
    
     <button class="button-back-2">Sign Up <span class="glyphicon glyphicon-ok-sign"></span></button>
  </div>


</div>
<br>
 <div class="ro">

<div class="col-md-offset-4 col-md-4 login-form" style="box-shadow: 5px 5px 10px;">
	 
	  <center>
      
	  <form method="POST" action="">

		  {% csrf_token %}
	   <img src="{% static 'irish/images/signup.png' %}" height="110"><br>
	   <p style="color:black;">Already have an account with E-Tomatoes?. <a href="{% url 'irish:login' %}" >click here</a> to login</p>

	  {% for field in form %}
	  {{field}}<br>
	  <span class="text-danger">{{field.error}}</span>
	  {% endfor %}
	  	  
	  <button name="sub" type="submit" data-role="none" class="btn btn-info login-btn btn-block">Sign Up <span class="glyphicon glyphicon-ok-sign"></span></button><br>
	  
	  
	  
    </form>
	  </center><br>
	<p><strong>-- OR --</strong></p>

	<div class="row">
		<div class="col-md-4 form-group">
			<a href="{% url 'social:begin' 'github' %}" class="btn btn-default btn-block"><span class="fa fa-github"></span>&nbsp;Github</a>
		</div>
		<div class="col-md-4 form-group">
			<a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-danger btn-block"><span class="fa fa-google"></span>&nbsp;Google</a>
		</div>
		<div class="col-md-4 form-group">
			<a href="{% url 'social:begin' 'facebook' %}" class="btn btn-primary btn-block"><span class="fa fa-facebook"></span>&nbsp;Facebook</a>
		</div>
	</div>

	</div></div><br><br><br><br><br><br>




<script>
function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}
</script>




</body>
</html>
